body {
    background-color: #C8E6C9  ;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #1B4332;
}

.text {
    margin: 0 auto;
    padding: 50px;
    max-width: 5000px;
    padding-left: 50px;
}

.header-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 90px;
    justify-content: flex-start;
}

.text-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.myName {
    font-size: 6rem;
    margin: 0;
}

.slogan {
    font-size: 2.9rem;
    margin: 0;
    margin-top: 12.5px;
}

.pictureOfMe {
    width: 325px;
    height: 325px;
    border-radius: 100%;
    object-fit: cover;
}

.description {
    margin-top: 10px;
    font-size: 0.9rem;
    line-height: 1.6;
}

.ownProjects {
    padding-left: 50px;
    margin-top: 78px;
}

.titleProject {
    font-size: 3.5rem;
}

.jjbaQuiz{
    font-size: 2.5rem;
}

.screenShot{
    width: 900px;
    height: 500px;
    cursor: pointer;
}

.faqTitle{
    margin-top: 50px;
    padding-left: 50px;
    border: 2px solid #1B4332;
}